@model List<SiteSocialLinkDto>
@{
    ViewData["Title"] = "Index";
}

<div class="row col-12 mt-3 mx-3">
    <div id="tableProgress" class="col-lg-12 col-12 layout-spacing">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <h2 class="text-primary">Social Link</h2>
                <div class="widget-content widget-content-area">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Icon</th>
                                    <th class="text-center">Link</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td class="text-center">@item.Id</td>
                                        <td class="text-center">
                                            @Html.Raw(item.Icon)
                                        </td>
                                        <td class="text-center">@item.Link</td>
                                        <td class="text-center" role="group">
                                            <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning">Update</a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                }

                            </tbody>

                        </table>
                    </div>
                </div>
                <a asp-controller="Social" asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i>Add Social Link </a>
            </div>
        </div>
    </div>

</div>